.circle-part {
  z-index: 0;
  position: relative;
  height: 200vh;
  width: 100vw;
}
.none {
  display: none;
}
#container {
  position: fixed;
  width: 8vw;
  height: 12vh;
}
.position {
  width: auto;
  height: auto;
  display: none;
}
.daos-items {
  position: absolute;
  margin-left: 45.93rem;
  margin-top: -19.1rem;
}
.thinhcode {
  width: 15vw;
  height: 20vh;
}
.daos {
  margin-top: -1.7rem;
  width: 3.5rem;
  height: 3.5rem;
  transform: scale(0.1);
}

#box {
  border-radius: 50%;
  margin-top: -40rem;
  // margin-top: 20rem;
  margin-left: 43rem;
  width: 150%;
  height: 150%;
  background: #ffff;
  transform: scale(0.002);
}
