*{
    // overflow: hidden;
}

.addcommunity-first {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.backgroundfilter{
    background: rgba(0, 0, 0, 0.5);
    filter: blur(1px);
}

.addcommunity-first-wrap {
    width: 440px;
    height: 390px;
    background-color: #F0F0F0;
    border-radius: 1rem;
    position: absolute;
    top: 25%;
    left: 36%;
    z-index: 1000;
}

.addcommunity-first-wrap-body {
    display: flex;
    flex-direction: column;
    min-height: 312px;
    padding: 0px;
    max-height: 620px;
    position: relative;
}

.addcommunity-first-wrap-body-1 {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
}

.addcommunity-first-wrap-body-1-heading {
    height: 32px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.addcommunity-first-wrap-body-1 img {
    align-self: center;
    width: 300px;
    height: 244px;
    margin-top: 0px;
}

.addcommunity-first-wrap-body-1-btn.discord {
    align-self: center;
    width: 100%;
    margin-top: 0px;
    height: 44px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    background-color: #1890ff;
    color: white;
    cursor: pointer;
} 

.addcommunity-first-wrap-body-1-btn-discord {
    width: 21px;
    color: white;
    padding-right: 5px;
}

.addcommunity-first-wrap-body-1-btn.create {
    color: rgb(100, 116, 139);
    align-self: center;
    margin-top: 8px;
    cursor: pointer;
}

.addcommunity-first-wrap-body-1-btn-create {
    width: 15px;
    position: absolute;
    top: 353px;
    right: 130px;
}

.addcommunity-first-wrap-body-btn.close {
    background: transparent;
    border: 0;
    color: rgba(0,0,0,.45);
    cursor: pointer;
    position: absolute;
    left: 0;
}

.addcommunity-first-wrap-body-btn-close {
    text-rendering: auto;
    display: block;
    font-size: 16px;
    font-style: normal;
    height: 54px;
    line-height: 54px;
    text-align: center;
    text-transform: none;
    width: 54px;
}

.hidden-addcommunity-first-wrap {
    display: none;
}

.addcommunity-create {
    display: flex;
    justify-content: space-between !important;
}

.addcommunity-create1 {
    height: 100vh;
    background: rgb(74, 66, 167);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-width: 742px;
    transition: transform 0.5s ease-in-out 0s;
}

.addcommunity-create1-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 505px;
    background: white;
    gap: 20px;
    border-radius: 16px;
    text-align: center;
    padding: 36px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(31, 41, 55);
    z-index: 1;
}

.addcommunity-create1-info-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addcommunity-create1-info-author1  {
    color: rgb(107, 114, 128);
    margin-top: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addcommunity-create2 {
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out 0s;
}

.addcommunity-create2-wrap {
    display: flex;
    gap: 32px;
    padding: 40px 48px 0px;
}

.addcommunity-create2-wrap-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addcommunity-create2-wrap-column-number {
    color: rgb(59, 130, 246);
    background: rgb(239, 246, 255);
    width: 32px;
    aspect-ratio: 1 / 1;
    font: 500 15px / 18px Verdana;
    border: 1px dashed rgb(191, 219, 254);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addcommunity-create2-wrap-column-line {
    background: linear-gradient(rgb(147, 197, 253) 0%, rgba(147, 197, 253, 0) 98.44%);
    width: 1px;
    margin: 8px;
    flex-grow: 1;
}

.addcommunity-create2-wrap-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    overflow-y: auto;
    height: calc(100vh - 95px);
}

.addcommunity-create2-wrap-content-heading {
    font: 500 15px / 18px Verdana;
    color: rgb(126, 126, 126);
}

.addcommunity-create2-wrap-content-heading1 {
    font: 800 40px / 40px Verdana;
    color: black;
    margin: 12px 0px 16px;
}

.addcommunity-create2-wrap-content-body1 {
    display: flex;
    gap: 24px;
}

.addcommunity-create2-wrap-content-body1-img1 {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: rgba(226, 232, 240, 0.2);
    font: 600 14px / 20px Verdana;
    color: rgb(26, 32, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed rgb(207, 216, 227);
    border-radius: 50%;
}

.addcommunity-create2-wrap-content-body1-input {
    font: 500 14px / 20px Verdana;
    color: rgb(31, 41, 55);
    width: 100%;
}

.addcommunity-create2-wrap-content-body1-input input {
    border-radius: 12px;
    padding: 12px 12px 12px 16px;
    margin-top: 8px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    color: rgba(0,0,0,.85);
    display: inline-block;
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    width: 100%;
}

.addcommunity-create2-wrap-content-body2-heading {
    font: 500 14px / 20px Verdana;
    color: rgb(31, 41, 55);
    margin-bottom: 8px;
}

.addcommunity-create2-wrap-content-body2-content-wrap {
    position: relative;
    border-radius: 12px;
    padding: 0px 4px 4px 0px;
    resize: none;
    overflow-y: auto;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar {
    background: white;
    width: 100%;
    display: flex;
    padding: 8px;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    stroke: rgb(100, 116, 139);
    color: black;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn {
    position: relative;
    cursor: pointer;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn1 {
    margin-top: -10px;
    position: absolute;
    right: -40px;
    top: 24%;
    width: 30px;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn2 {
    margin-top: -4px;
    position: absolute;
    right: -60px;
    top: 24%;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn3 {
    margin-top: -4px;
    position: absolute;
    right: -80px;
    top: 24%;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn4 {
    margin-top: -4px;
    position: absolute;
    right: -100px;
    top: 24%;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn5 {
    margin-top: -5px;
    position: absolute;
    right: -130px;
    top: 24%;
    width: 20px;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn6 {
    margin-top: -5px;
    position: absolute;
    right: -160px;
    top: 24%;
    width: 20px;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn7 {
    margin-top: -5px;
    position: absolute;
    right: -185px;
    top: 24%;
    width: 20px;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn8 {
    margin-top: -3px;
    position: absolute;
    right: -210px;
    top: 24%;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn9 {
    margin-top: -4px;
    position: absolute;
    right: -240px;
    top: 24%;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn10 {
    margin-top: -4px;
    position: absolute;
    right: -275px;
    top: 24%;
}

.addcommunity-create2-wrap-content-body2-content-wrap-navbar-btn11 {
    margin-top: -10px;
    position: absolute;
    right: -320px;
    top: 24%;
    width: 30px;
}

.addcommunity-create2-wrap-content-body2-content-wrap-input {
    position: relative;
}

.addcommunity-create2-wrap-content-body2-content-wrap-input textarea {
    overflow: auto;
    font-size: 12px;
    height: 100%;
    width: -webkit-fill-available;
    min-height: 96px;
    word-break: break-word;
    max-height: 200px;
    padding-left: 8px;
    padding-top: 8px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0 0 12px 12px;
    outline: none;
}

.addcommunity-create2-wrap-content-body3-heading {
    font: 500 14px / 20px Verdana;
    color: rgb(31, 41, 55);
    margin-bottom: 16px;
}

.addcommunity-create2-wrap-content-body3-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;  
}

.addcommunity-create2-wrap-content-body3-content-btn {
    display: flex;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    background: rgb(255, 255, 255);
    border-radius: 17px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 9px 15px;
    font: 500 14px / 16px Verdana;
    color: rgb(31, 41, 55);
    border: 1px solid rgb(226, 232, 240);
}

.addcommunity-create2-wrap-content-body4 {
    font: 500 14px / 20px Verdana;
    color: rgb(31, 41, 55);
}

.addcommunity-create2-wrap-content-body4-content {
    display: flex;
    margin-top: 16px;
    gap: 12px;
}

.addcommunity-create2-wrap-content-body4-content-btn {
    border: 1px solid rgb(226, 232, 240);
    cursor: pointer;
    width: 48px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}

.addcommunity-create2-bottom {
    display: flex;
    padding: 10px 20px;
    column-gap: 10px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 51.56%, rgba(255, 255, 255, 0) 100%);
    justify-content: flex-end;
    
}

.addcommunity-create2-bottom-btn {
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    padding: 8px 20px;
    background: #1890ff;
    border-color: #1890ff;
    box-shadow: 0 2px 0 rgba(0,0,0,.045);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
}

.addcommunity-create2-bottom-btn1 {
    padding-left: 5px;
}

.addcommunity-create1-community-type {
    padding: 12px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 24px;
    backdrop-filter: blur(7.2px);
    z-index: 1;
}

.addcommunity-create1-community-type img {
    width: 360px;
    height: 120px;
    border-radius: 24px 24px 0px 0px;
    object-fit: cover;
}

.addcommunity-create1-community-type-wrap {
    background: white;
    border-radius: 24px;
    font: 500 14px / 20px Verdana;
    color: rgb(31, 41, 55);
    display: flex;
    flex-direction: column;
    position: relative;
}

.addcommunity-create1-community-type-wrap-info {
    position: absolute;
    top: 98px;
    left: 24px;
}

.addcommunity-create1-community-type-wrap-info-avt {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    align-self: center;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: red;
}

.addcommunity-create1-community-type-wrap-info-avt-name {
    font-size: 28px;
    color: white;
    font-weight: 500;
    margin-bottom: 0px;
}

.addcommunity-create1-community-type-wrap-info-name {
    margin: 12px 0px 22px 108px;
    font: 600 20px / 28px Verdana;
}

.addcommunity-create1-community-type-wrap-info-types {
    padding: 12px 24px;
    font: 500 16px / 24px Verdana   ;
    color: rgb(31, 41, 55);
    border-top: 1px solid rgb(243, 244, 246);
    display: flex;
    align-items: center;
}

.addcommunity-create1-community-type-wrap-info-types img {
    width: 24px;
    height: auto;
    margin-right: 10px;
}