.tn-slide-container {
  height: 13rem;
  width: 84rem;
}
.tn-slide-item,
.tn-slide-item1,
.tn-slide-item2,
.tn-slide-item3,
.tn-slide-item4,
.tn-slide-item5 {
  display: flex;
  justify-content: center;
  width: 14rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  height: 5.2rem;
  border-radius: 50px;
}

.tn-item-border {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff5cd;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
.tn-item-border1 {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #daf7d5;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
.tn-item-border2 {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ccf4fd;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
.tn-item-border3 {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e8daff;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
.tn-item-border4 {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ffdbcc;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
.tn-item-border5 {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e5e5e5;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}
.tn-slide-item:hover,
.tn-slide-item1:hover,
.tn-slide-item2:hover,
.tn-slide-item3:hover,
.tn-slide-item4:hover,
.tn-slide-item5:hover {
  background-color: #f1f1f1;
  color: #000000;
}

.tn-color {
  .tn-item-border {
    background-color: #332901;
  }
}
.tn-color1 {
  .item-border1 {
    background-color: #0e2b09;
  }
}
.tn-color2 {
  .item-border2 {
    background-color: #002831;
  }
}
.tn-color3 {
  .item-border3 {
    background-color: #1c0e33;
  }
}
.tn-color4 {
  .item-border4 {
    background-color: #330f00;
  }
}
.tn-color5 {
  .item-border5 {
    background-color: #330f00;
  }
}

.tn-active {
  background-color: #000000;
  color: #fff;
}
.tn-item-pic {
  width: 1.4rem;
  margin-top: -1rem;
  margin-left: -0.2rem;
}
.tn-item-pic1 {
  width: 1.8rem;
  margin-top: -0.85rem;
  margin-left: -0.35rem;
}
.tn-item-pic2 {
  width: 1.8rem;
  margin-top: -1.1rem;
  margin-left: -0.4rem;
}
.tn-item-pic3 {
  width: 1.8rem;
  margin-top: -0.75rem;
  margin-left: -0.4rem;
}
.tn-item-pic4 {
  width: 1.8rem;
  margin-top: -0.85rem;
  margin-left: -0.4rem;
}
.tn-item-pic5 {
  width: 1.8rem;
  margin-top: -0.8rem;
  margin-left: -0.4rem;
}
.tn-item-text {
  margin-left: 1rem;
  margin-top: 1.7rem;
  font-weight: bold;
  font-size: 1.3rem;
}
.tn-item-text-1 {
  margin-left: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.3rem;
  width: 6rem;
}
