//Desktop
@media only screen and (min-width: 1025px) {
    .comm-main-wrapper {
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
}

//Ipad Pro
@media only screen and (max-width: 1025px) and (min-width: 416px) {
    .comm-main-wrapper {
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
}

//Iphone 8+ 
@media only screen and (max-width: 415px) {
    .comm-main-wrapper {
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
}