* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-feature-settings: "tnum","tnum";
    font-variant: tabular-nums;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
}

html {
    background-color: #f5f3ff;
}

.comm-wrapper {
    position: relative;
    background-color: #f5f3ff;
}

.comm-main-wrapper {
    width: 100%;
    position: relative;
    margin-top: 20px;
    overflow-y: auto;
}

//Desktop
@media only screen and (min-width: 1025px) {
    .comm-wrapper {
        position: relative;
    }
}

//Ipad Pro
@media only screen and (max-width: 1024px) and (min-width: 415px) {
    .comm-wrapper {
        position: relative;
    }
}

//Iphone 8+ 
@media only screen and (max-width: 414px) {
    .comm-wrapper {
        position: relative;
    }
}