.User-name {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.profile-button {
  border: none;
  color: #79a3f0;
  background-color: transparent;
}

.profile-button:hover {
  color: #79a3f0;
  background-color: whitesmoke;
}

.profile-button-down {
  border: none;
  color: #9ca3af;
  background-color: transparent;
  font-size: 18px;
}

.profile-button-down:hover {
  background-color: whitesmoke;
}

.profile-account-linked {
  color: rgb(1, 71, 55);
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 8px 12px;
  gap: 6px;
  display: inline-flex;
  border: 0px;
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background: rgb(244, 247, 249);
  margin-bottom: 10px;
}

.text-green-400 {
  color: green;
}

.profile-delete-account {
  position: absolute;
  top: -170px;
  right: 140px;
  background-color: rgba(0, 0, 0, 0.16);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px,
    rgba(0, 45, 121, 0.1) 3.6px -3.6px 3.6px inset,
    rgba(255, 255, 255, 0.1) -3.6px 3.6px 3.6px inset;
  backdrop-filter: blur(3.6px);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
}

.profile-edit-account {
  height: 32px;
  position: absolute;
  top: -170px;
  right: 12px;
  border-radius: 8px;
  border: none;
  display: flex;
  color: rgb(100, 116, 139);
  align-items: center;
  gap: 6px;
  z-index: 20;
}

.profile-account-deleted {
  background-color: #fff;
  padding: 4px 0;
  border-radius: 12px;
  display: flex;
  width: 170px;
}

.profile-account-deleted:hover {
  cursor: pointer;
}
.hide {
  display: none;
}

.sub-active {
  display: flex;
  padding: 10px 12px;
  gap: 8px;
  align-items: center;
  color: #333;
}

.profile-acti-part-amount {
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.profile-acti-part-text {
  color: #333;
}

.profile-acti-part:hover {
  cursor: pointer;
}

.active {
  .profile-acti-part-amount {
    background: rgb(59, 130, 246);
    color: white;
  }

  .profile-acti-part-text {
    color: rgb(59, 130, 246);
    display: flex;
    align-items: center;
  }

  .sub-active {
    border-bottom: 2px solid rgb(59, 130, 246);
  }
}
