.img-container {
  z-index: 4;
}
.trust-text {
  margin-top: 3.5rem;
  font-size: 1.3rem;
  color: #a2a2a2;
  letter-spacing: -1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mac {
  margin-left: -1.9rem;
  width: 86.6vw;
  margin-bottom: -0.5rem;
}
.big-img {
  margin-left: -1.9rem;
  width: 86vw;
  position: relative;
}
.mobile-img {
  margin-top: -32.5rem;
  margin-left: 61.5rem;
  width: 20vw;
  position: absolute;
}
.commu {
  width: 38rem;
  display: flex;
  justify-content: space-between;
}
.commu1 {
  width: 6rem;
  height: 2rem;
}
.commu2 {
  width: 5rem;
  height: 2rem;
}
.commu3 {
  width: 2.13rem;
  height: 1.7rem;
}
.commu4 {
  width: 8.3rem;
  height: 1.8rem;
}

.please-icon {
  width: 7.2rem;
  margin-top: 8rem;
  margin-left: 12rem;
}
.work-text {
  margin-left: -1.6rem;
  margin-top: -1rem;
  margin-bottom: 4rem;
  font-size: 3.55rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hover-part {
  height: 20rem;
  background-color: #a2a2a2;
  margin-bottom: 10rem;
  position: relative;
}

.overlay {
  position: absolute;
  border-top-right-radius: 150px;
  border-top-left-radius: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b3c8ff;
  overflow: hidden;
  height: 0;
  transition-duration: 1000ms;
  transition: 0.3s ease-in-out;
}

.overlay1 {
  border-top-right-radius: 700px;
  border-top-left-radius: 700px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fecb03;
  overflow: hidden;
  width: 26vw;
  height: 0;
  transition-duration: 4000ms;
  transition: 0.48s ease-in-out;
}
.hover-part-contain1:hover .overlay {
  cursor: pointer;
  height: 100%;
}
.hover-part-contain1:hover .overlay1 {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;
  height: 120%;
  width: 26vw;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  // text-align: center;
}

.support-text {
  margin-left: -1.6rem;
  margin-top: -1rem;
  margin-bottom: 8rem;
  font-size: 3.55rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.coin-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.coin-icon-s {
  width: 8rem;
}
.coin-icon-d {
  width: 8rem;
  height: 4.5rem;
  margin-top: 1rem;
}
.coin-icon-d-1 {
  margin-top: 1.5rem;
  width: 8rem;
  height: 2.9rem;
}
.color-container {
  z-index: -99999;
  background-color: #fecb03;
}
.color-container-header {
  z-index: 4;
  display: flex;
}
.vector {
  margin-top: 20rem;
}
.diff-text {
  font-size: 4.3rem;
  width: 35rem;
  color: #000;
  font-weight: 1000;
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-left: 8rem;
  margin-top: 7rem;
}

.underline {
  margin-top: 23rem;
  margin-left: 26.4rem;
  width: 23.5rem;
  height: 4rem;
  position: absolute;
}

.gif {
  margin-left: 2rem;
  margin-top: 10rem;
  width: 46.9rem;
}

.bounties {
  margin-left: -3rem;
  margin-top: 8.5rem;
  width: 52rem;
  height: 37rem;
}
.pc {
  margin-left: 6rem;
  fill: aliceblue;
  margin-top: 8rem;
  width: 2.6rem;
}
.hour {
  margin-left: 6.5rem;
  margin-bottom: 1rem;
}
.hour-title {
  margin-left: 6.5rem;
  font-size: 4rem;
  font-weight: bold;
}
.hour-text {
  font-weight: bold;
  margin-left: 6.5rem;
  font-size: 1.2rem;
  width: 32.5rem;
}
.iphone-p {
  rotate: (14.2deg);
  width: 19.8rem;
  height: 36.5rem;
  margin-top: -5rem;
  margin-left: 17rem;
}
.pc-link {
  margin-left: 6rem;
  fill: aliceblue;
  margin-top: 12rem;
  width: 2.6rem;
}
.pc-title {
  width: 30rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  line-height: 4.9rem;
}

.link-title {
  width: 37rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  line-height: 4.9rem;
}
.pc-text {
  color: #fff;
  width: 32rem;
  margin-left: 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.group-title {
  width: 35rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #000;
  font-weight: bold;
  line-height: 4.9rem;
}
.group-text {
  color: #000;
  width: 32rem;
  margin-left: 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.group-i {
  margin-left: 6.5rem;
  margin-bottom: 2rem;
}
.group-img {
  margin-top: -6rem;
  margin-left: 3rem;
  width: 41rem;
}
.read-more {
  width: 8rem;
  color: #fff;
  background-color: #000;
  border: none;
  height: 2.8rem;
  border-radius: 50px;
  margin-top: 1.4rem;
  margin-left: 6rem;
  margin-bottom: 25rem;
}
.read-more:hover {
  background-color: #000000bb;
}
.elem {
  margin-top: 35rem !important;
  right: 0;
  position: absolute;
  background-color: #fd4900;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  animation: moveToLeft 2s ease-in-out;
  animation-delay: 500ms;
}

@keyframes moveToLeft {
  0% {
    right: 0;
    transform: translateY(0px);
  }
  100% {
    right: -1;
    transform: translateY(0px);
    border-radius: 0;
    width: 100vw;
    height: 1600px;
    background-color: linear-gradient(120deg, #fd4900, #fd4900);
  }
}
.glass-part {
  margin-top: 10rem;
  margin-bottom: 8rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.glass-icon {
  height: 3.65rem;
  margin-left: -7rem;
}
.way-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -1.9rem;
  line-height: 6.7rem;
  margin-left: 27.5rem;
  font-weight: bold;
  width: 40rem;
  font-size: 5rem;
}
.way-under {
  width: 27rem;
  margin-top: -1.8rem;
}
