.tn-trust-text {
  margin-top: 3.5rem;
  font-size: 1.3rem;
  color: #a2a2a2;
  letter-spacing: -1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tn-mac {
  margin-left: -1.9rem;
  width: 86.6vw;
  margin-bottom: -0.5rem;
}
.tn-big-img {
  margin-left: -1.9rem;
  width: 86vw;
  position: relative;
}
.tn-mobile-img {
  margin-top: -32.5rem;
  margin-left: 61.5rem;
  width: 20vw;
  position: absolute;
}
.tn-commu {
  width: 38rem;
  display: flex;
  justify-content: space-between;
}
.tn-commu1 {
  width: 6rem;
  height: 2rem;
}
.tn-commu2 {
  width: 5rem;
  height: 2rem;
}
.tn-commu3 {
  width: 2.13rem;
  height: 1.7rem;
}
.tn-commu4 {
  width: 8.3rem;
  height: 1.8rem;
}

.tn-please-icon {
  width: 7.2rem;
  margin-top: 8rem;
  margin-left: 12rem;
}
.tn-work-text {
  margin-left: -1.6rem;
  margin-top: -1rem;
  margin-bottom: 4rem;
  font-size: 3.55rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tn-hover-part {
  height: 20rem;
  background-color: #a2a2a2;
  margin-bottom: 10rem;
  position: relative;
}

.tn-overlay {
  position: absolute;
  border-top-right-radius: 150px;
  border-top-left-radius: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b3c8ff;
  overflow: hidden;
  height: 0;
  transition-duration: 1000ms;
  transition: 0.3s ease-in-out;
}

.tn-overlay1 {
  border-top-right-radius: 700px;
  border-top-left-radius: 700px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fecb03;
  overflow: hidden;
  width: 26vw;
  height: 0;
  transition-duration: 4000ms;
  transition: 0.48s ease-in-out;
}
.tn-hover-part-contain1:hover .tn-overlay {
  cursor: pointer;
  height: 100%;
}
.tn-hover-part-contain1:hover .tn-overlay1 {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;
  height: 120%;
  width: 26vw;
}
.tn-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.tn-support-text {
  margin-left: -1.6rem;
  margin-top: -1rem;
  margin-bottom: 8rem;
  font-size: 3.55rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tn-coin-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.tn-coin-icon-s {
  width: 8rem;
}
.tn-coin-icon-d {
  width: 8rem;
  height: 4.5rem;
  margin-top: 1rem;
}
.tn-coin-icon-d-1 {
  margin-top: 1.5rem;
  width: 8rem;
  height: 2.9rem;
}
.tn-color-container {
  position: relative;
  background-color: #fecb03;
  width: 100vw;
}
.tn-container {
  width: 8vw;
  height: 12vh;
  position: fixed;
}
.tn-color-container-header {
  display: flex;
}
.tn-vector {
  margin-top: 20rem;
}
.tn-diff-text {
  font-size: 4.3rem;
  width: 35rem;
  color: #000;
  font-weight: 1000;
  text-align: center;
  font-family: sans-serif;
  position: relative;
  margin-left: 8rem;
  margin-top: 7rem;
}

.tn-underline {
  margin-top: 23rem;
  margin-left: 26.4rem;
  width: 23.5rem;
  height: 4rem;
  position: absolute;
}

.tn-gif {
  margin-left: 2rem;
  margin-top: 10rem;
  width: 46.9rem;
}

.tn-bounties {
  margin-left: -3rem;
  margin-top: 8.5rem;
  width: 52rem;
  height: 37rem;
}
.tn-pc {
  margin-left: 6rem;
  fill: aliceblue;
  margin-top: 8rem;
  width: 2.6rem;
}
.tn-hour {
  margin-left: 6.5rem;
  margin-bottom: 1rem;
}
.tn-hour-title {
  margin-left: 6.5rem;
  font-size: 4rem;
  font-weight: bold;
}
.tn-hour-text {
  font-weight: bold;
  margin-left: 6.5rem;
  font-size: 1.2rem;
  width: 32.5rem;
}
.tn-iphone-p {
  rotate: (14.2deg);
  width: 19.8rem;
  height: 36.5rem;
  margin-top: -5rem;
  margin-left: 17rem;
}
.tn-pc-link {
  margin-left: 6rem;
  fill: aliceblue;
  margin-top: 12rem;
  width: 2.6rem;
}
.tn-pc-title {
  width: 30rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  line-height: 4.9rem;
}

.tn-link-title {
  width: 37rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  line-height: 4.9rem;
}
.tn-pc-text {
  color: #fff;
  width: 32rem;
  margin-left: 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tn-group-title {
  width: 35rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #000;
  font-weight: bold;
  line-height: 4.9rem;
}
.tn-group-text {
  color: #000;
  width: 32rem;
  margin-left: 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tn-group-i {
  margin-left: 6.5rem;
  margin-bottom: 2rem;
}
.tn-group-img {
  margin-top: -6rem;
  margin-left: 3rem;
  width: 41rem;
}
.tn-read-more {
  width: 8rem;
  color: #fff;
  background-color: #000;
  border: none;
  height: 2.8rem;
  border-radius: 50px;
  margin-top: 1.4rem;
  margin-left: 6rem;
  margin-bottom: 25rem;
}
.tn-read-more:hover {
  background-color: #000000bb;
}
.tn-elem {
  margin-top: 35rem !important;
  right: 0;
  position: absolute;
  background-color: #fd4900;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  animation: moveToLeft 2s ease-in-out;
  animation-delay: 500ms;
}

@keyframes moveToLeft {
  0% {
    right: 0;
    transform: translateY(0px);
  }
  100% {
    right: -1;
    transform: translateY(0px);
    border-radius: 0;
    width: 100vw;
    height: 1600px;
    background-color: linear-gradient(120deg, #fd4900, #fd4900);
  }
}
.tn-glass-part {
  margin-top: 10rem;
  margin-bottom: 8rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tn-glass-icon {
  height: 3.65rem;
  margin-left: -7rem;
}
.tn-way-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: -1.9rem;
  line-height: 6.7rem;
  margin-left: 27.5rem;
  font-weight: bold;
  width: 40rem;
  font-size: 5rem;
}
.tn-way-under {
  width: 27rem;
  margin-top: -1.8rem;
}
.tn-text-mess {
  z-index: 0;
}
#tn-container1 {
  text-align: center;
  transition: 2s ease-in-out;
}

#tn-box1 {
  margin-left: 66rem;
  margin-top: 46rem;
  border-radius: 50%;
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: #ffa7a7;
  transform: scale(3);
  transition: 0.4s all ease-in-out;
}
#tn-box2 {
  margin-top: 90rem !important;
}
